.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", pediatric_consultations_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_pediatric_consultation_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", pediatric_consultation_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.pediatric_consultation.companion", :default => t("activerecord.labels.companion", :default => "Companion"))
          \:
        = @pediatric_consultation.companion
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_pediatric_consultation_path(@pediatric_consultation), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), pediatric_consultation_path(@pediatric_consultation), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
