= f.inputs do
	= f.input :process_number, :as => :string, :hint => i18n_family_hint_str("process_number")
	= f.input :name, :hint => i18n_family_hint_str("name")
	= f.input :family_type,  :hint => i18n_family_hint_str("type")
	= f.input :graffar,  :hint => i18n_family_hint_str("graffar")
	= f.input :duval,  :hint => i18n_family_hint_str("duval")
	= f.input :total_elements, :as => :string, :hint => i18n_family_hint_str("total_elements")
	= f.input :is_total_el_diff,  :hint => i18n_family_hint_str("is_total_el_diff")
	= f.input :comments,  :hint => i18n_family_hint_str("comments")
