.block
	.secondary-navigation
		%ul.wat-cf
			%li.first.active= link_list_families
			%li= link_new_family
	.content
		%h2.title= i18n_title_str("list_families")
		.inner
			%table.table
				%tr
					%th.first= i18n_family_str("process_number")
					%th= i18n_family_str("name")
					%th.last &nbsp;
				- @families.each do |family|
					%tr{:class => cycle("odd", "even")}
						%td= link_to family.process_number, family_path(family)
						%td= family.name
						%td.last
							= icon_show_family(family)
							= icon_edit_family(family)
			.actions-bar.wat-cf
				.actions
					= will_paginate @families
- content_for :sidebar, render(:partial => 'sidebar')
