.block
	.secondary-navigation
		%ul.wat-cf
			%li.first= link_list_pacient_problems
			%li= link_new_pacient_problem
			%li.active= link_edit_pacient_problem
	.content
		%h2.title= i18n_title_str("edit_pacient_problem")
		.inner
			= semantic_form_for @pacient_problem, :html => { :class => "form" } do |f|
				= render :partial => "form", :locals => {:f => f}
				.group.navform.wat-cf
					= button_submit("update_pacient_problem")
					%span.text_button_padding= i18n_word_str("or")
					= link_back(pacient_problems_path)
- content_for :sidebar, render(:partial => 'sidebar')

